	
/* ------ BODY / NAVIGATION ------ */
body {
	margin: 0px;
	background-color: #565656;
}

header {
	background-color: #228811;
	position: fixed;
	width: 100%;
	z-index: 5000;
	padding-left: 35px;
}

h1, h1 a {
	color: white;
	font-family: 'Segoe UI Light';
	text-decoration: none;
}

h1:hover, h1 a:hover {
	color: white;
	color: #eeeeff;
	transition: text-shadow 200ms;
}

.underHeaderSpacer {
	padding: 30px;
}

.darkLayer {
	background-color: #115505;
	padding: 60px;
}
.darkerLayer {
	background-color: #104505;
	padding: 20px;
}

footer {
	background-color: #115505;
	padding: 60px;
	padding-bottom: 410px;
}

address.author, address.author a {
	font-family: 'Segoe UI Light';
	color: white;
	text-decoration: none;
	transition: all 350px;
	font-style: normal;
}

address.author a:hover {
	color: #e1e1ff;
	transition: all 350px;
}

/* ------ CONTENT ------ */

.alternateHolder {
	background-color: #fff; /*ffe*/
	padding-top: 42px;
	padding-bottom: 190px;
	padding-left: 68px;
	padding-right: 6px;
	float: left;
	max-width: 600px;
	/*margin-left: 14px;*/
	
	/*
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	*/
	
}
p {
	min-width: 160px;
	max-width: 60%;
	/*background-color: #550055;*/
	float: left;
}
.commentContainer {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	
	margin-left: 18px;
	float: left;
}

.commentTag {
	background-color: #e4ffe4;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 9px;
	padding-right: 9px;
	opacity: .2;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	transition: all 400ms;
	cursor: pointer;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.commentTag:hover {
	opacity: 1;
	background-color: #d4efd4;
	transition: all 200ms;
}	

.commentTag:active {
	opacity: 1;
	background-color: #c4dfc4;
	transition: all 200ms;
}

.commentTag.open {
	opacity: 1;
	background-color: #d4efd4; /*d4efd4*/
	border-top-right-radius: 36px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	/*width: 200px;*/
	/*border-bottom: .06em solid grey;*/
}

.commentTag.open:hover {
	/*background-color: #d9f4d9;*/
}

.commentBag {
	display: none;
	min-width: 20px;
	max-width: 180px;
	margin-top: 3px;
	margin-left: 34px;
	padding-left: 4px;
	list-style: none;
	
	font-family: 'Segoe UI';
	font-size: 80%;
	
	/* Overlapping...*/
	position: absolute;
	z-index: 4000;
	
	
	background-color: #fff;
	opacity: .6;
}

.commentBag li {
	margin-top: .6em;
}

mark, mark.yellow{
	background-color: #ffff99;
	border: 2px solid #ffff99;
}
mark:hover, mark.yellow:hover{
	border: 2px solid #efef89;
	background-color: #ffffa9;
	/*box-shadow: 0 0 5px #ffff00;*/
	cursor:pointer;
}


.floatEnder {
	clear: both;
}
